<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>265190362956-1qpovc6nm2d7m4sftttdecssl3eq2nf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265190362956-1qpovc6nm2d7m4sftttdecssl3eq2nf4</string>
	<key>API_KEY</key>
	<string>AIzaSyBsqILO2wV11KW3iiun9B0JMqsK2_irMFo</string>
	<key>GCM_SENDER_ID</key>
	<string>265190362956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gamze.FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>simplifiedios-ae6bb</string>
	<key>STORAGE_BUCKET</key>
	<string>simplifiedios-ae6bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265190362956:ios:730b66b0bfab7552</string>
	<key>DATABASE_URL</key>
	<string>https://simplifiedios-ae6bb.firebaseio.com</string>
</dict>
</plist>